.task {
  background: #f4f4f4;
  margin: 0.3125rem 1.25rem;
  cursor: pointer;
  padding: 0.625rem 1rem;
}

.task.reminder {
  border-left: 0.3125rem solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
