@if (showAddTask) {
  <app-button text="Fechar" color="red" (btnClicked)="updateView(false)"></app-button>
} @else {
  <app-button text="Adicionar Tarefa" color="green"  (btnClicked)="updateView(true)"></app-button>
}

<form (ngSubmit)="onSubmit()" *ngIf="showAddTask" class="add-form">
  <div>
    <label for="text">Tarefa:</label>
    <input type="text"
           id="text"
           name="text"
           class="form-control"
           placeholder="Adicionar Tarefa"
           [(ngModel)]="description"
    />
  </div>

  <div class="mb-4">
    <label for="category">Categoria:</label>
    <select name="category" id="category" class="form-select" [(ngModel)]="category">
      <option value="Pós-Graduação">Pós-Graduação</option>
      <option value="Academia">Academia</option>
      <option value="Lazer">Lazer</option>
    </select>
  </div>

  <input type="submit" value="Salvar Tarefa" class="btn btn-block mb-4">

</form>
